# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3
backend/perfumes.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
