PORT=5000

# Tiendanube API Configuration
# If left blank or default, the backend will run in Simulated (Mock) Mode.
TIENDANUBE_STORE_ID=
TIENDANUBE_ACCESS_TOKEN=

# The public domain of your Tiendanube store (used for cart redirects).
# Example: https://mi-tienda.mitiendanube.com
TIENDANUBE_STORE_URL=https://tienda-simulada.mitiendanube.com

# Identificación para la API de Tiendanube (Requerido por Tiendanube)
TIENDANUBE_USER_AGENT=PerfumeProfilerApp (perfumes@example.com)
